*{
  margin: 0;
  padding: 0;
  z-index: 2;
}

body, html{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.navBar{
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: gray;
}
.navBar .nav{
  z-index: 2;
}
.businessName{
  font-size: 4vh;
  height: 5%;
}
.navBarCont {
  display: flex;
  color: white;
  align-items: center;
  width: 50%;
  justify-content: space-around;
}

.navBarCont li{
  text-decoration: none;
  color: white;
  list-style: none;
  cursor: pointer;
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navItem{
  display: flex;
  align-items: center;
  height: 16%;
  font-size: 10vw;
  font-family: Oswald;
  position: fixed;
  overflow-x: hidden;
  overflow-y: hidden;
  right: 0;
  background-color: white;
}
.navItem span{
  margin-left: auto;
}


.about{
  top: 6%;
  left: 50%;
}
/*.services, .projects, .contact{
  justify-content: center;
}*/
.services{
  top: 25%;
  left: 50%;
}
.projects{
  top: 44%;
  left: 50%;
}
.contact{
  top: 63%;
  left: 50%;
}
.other{
  top: 82%;
  left: 50%;
}


.slideIn{
  width: 50%;
}

.page{
  position: relative;
  width: 60%;
  margin: auto;
  top: 22%;
  z-index: 1;
}
