*{
  margin: 0;
  padding: 0;
}

body, html{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.logo{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.navItem{
  display: flex;
  align-items: center;
  width: 0;
  height: 16%;
  font-size: 10vw;
  font-family: Oswald;
  border: 1px solid black;
  position: relative;
  right: 0;
  overflow-x: hidden;
  overflow-y:hidden;
}
.left{
  align-self: flex-start;
}
.center{
  align-self: center;
}
.right{
  align-self: flex-end;
}
.slideIn{
  width: 50%;
}
