.aboutContainer{
  width: 75vw;
  margin: 5% auto;
  display: flex;
}

.aboutPicture{
  width: 40%;
  min-height: 100%;
}
.aboutPicture img{
  width: 100%;
  min-height: 100%;
  box-shadow: 3px 3px 8px 1px grey;
}

.aboutText{
  width: 50%;
  min-height: 100%;
  margin-left: 5%;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutText p{
  line-height: 1.6;
}
@media screen and (max-width: 1023px){
  .aboutContainer{
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .aboutPicture{
    min-height: none;
    width: auto;
  }
  .aboutPicture img{
    min-height: none;
    width: 50vw;
    height: 80vw;
  }
  .aboutText{
    min-height: none;
    font-size: 3.5vw;
    width: 90%;
    margin: 5% auto;
  }
}
/* @media screen and (max-width: 1366px) and (min-width: 1024px){
  .aboutPicture{
    width: auto;
  }
  .aboutText{
    width: 60%;
  }
} */
