.aboutContainer{
  width: 65vw;
  margin: 3% auto;
  display: flex;
  min-height: 60%;
}

.aboutPicture{
  width: 40%;
  min-height: 100%;
}
.aboutPicture img{
  width: 100%;
  min-height: 100%;
}

.aboutText{
  width: 50%;
  min-height: 100%;
  margin-left: 5%;
  font-size: 1.2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aboutText p{
  line-height: 1.6;
}
