
.blogContainer{
  width: 95vw;
  margin: 3% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

h2{
  font-weight: bold;
  font-size: 1.6vw;
}
.blogPostContainer{
  width: 55vw;
  height: 20vw;
  margin-bottom: 4%;
  position: relative;
}
.blogPost{
  width: 55vw;
  height: 20vw;
  display: flex;
  margin-bottom: 4%;
  /* background: rgba(0,0,0,0.1); */
  /* border: 0.5px solid rgba(0,0,0,0.2); */
  box-shadow: 3px 3px 8px 1px grey;
  position: relative;
  cursor: pointer;
}
.blogImage{
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogImage img{
  width: 100%;
  height: 100%;
}

.blogText{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  font-size: 1.2vw;
}
.blogText p{
  line-height: 1.2;
  margin-top: 5%;
  padding-bottom: 5%;
}
.blogPost span{
  position: absolute;
  bottom: 1%;
  right: 1%;
}
.blogPostContainer .socialMedia{
  position: absolute;
  z-index: 3;
  top: 2%;
  right: 3%;
  height: auto;
}
.blogPostContainer .socialMedia a{
  margin-right: 10%;
}
#blogPageADD{
  object-fit: cover;
  object-position: 50% 25%;
}
.underline{
  position: relative;
  border: none;
}
.underline:after{
  content: "";
  background-color: rgb(92, 142, 180);;
  height: 1px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .1s ease-in;
}
.underline:hover:after{
  width: 100%;
  right: 0;
}
/*------------Start Individual Blog page design-----------*/
.blog{
  width: 55%;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  position: relative;
  padding-bottom: 5%;
}
.blogHeader p{
  font-size: 1.5vw;
  font-style: italic;
  margin-top: 4%;
}
.blog .socialMedia{
  align-self: flex-start;
  padding: 1% 0;
  width: 88%;
  margin: 1% auto;
  justify-content: flex-end;
}
.blog .socialMedia ~ .socialMedia{
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  justify-content: flex-start;
}
.blog .socialMedia a{
  margin-right: 2%;
}
.blogHeader{
  margin: 4% 6%;
  font-style:italic;
}
.blogHeader h1{
  font-size: 2.4vw;
}
.paragraph{
  display: flex;
  margin: 4% 6%;
}
.paragraph p{
  width: 45%;
  line-height: 1.6;
  font-size: 1.2vw;
}
#beauty .paragraph p{
  width: 50%;
}

.paragraphImage{
  width: 45%;
}
.paragraphImage img{
  box-sizing: border-box;
  width: 100%;
  border: 10px solid white;
  box-shadow: 3px 3px 8px 1px grey;
}

.paragraph1 .paragraphImage{
  margin-left: auto;
}
.paragraph2 p{
  margin-left: auto;
}
.finalImage{
  width: 88%;
  margin: 4% auto;
}
.finalImage img{
  box-sizing: border-box;
  border: 20px solid white;
  box-shadow: 3px 3px 8px 1px grey;
  width: 100%;
}
.postDate{
  position: absolute;
  bottom: 0;
  right: 1%;
}

/*----------Dumpster Diving CSS-------*/
#dumpster{
  width: 60%;
  line-height: 1.6;
}
#dumpster  .blogSection > .paragraphImage{
  width: 88%;
  margin: 0 auto;
}
#dumpster .paragraph p{
  font-size: 1.3vw;
}
#dumpster .paragraph1 p{
  width: 100%;
}
#dumpster .paragraph3 .paragraphImage, .paragraph4 p{
  margin-left: auto;
}
#dumpster .paragraph .paragraphImage{
  width: 45%;
}
#dumpster .paragraph2 p, .paragraph3 p, .paragraph4 p{
  width: 50%;
}
#dumpster .paragraph3 .paragraphImage{
  display: flex;
  flex-direction: column;
  width: 45%;
}
#dumpster .paragraph3 .paragraphImage img{
  margin-bottom: 10%;
}
#dumpster .paragraph4 p, .paragraph5 p{
  width: 100%;
}
/*------------End Dumpster Diving CSS--------------*/
/*------------Beauty CSS------------------*/

.blogQuote{
  font-weight: bold;
  font-style: italic;
  font-size: 1.6vw;
}
#beauty .paragraph1 .paragraphImage{
  margin-top: 5%;
}
#beauty .paragraph2 p{
  width: 100%;
}
.midPageQuote{
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding: 5% 0;
  width: 88%;
  margin: 0 auto;
  font-style: italic;
  text-align: center;
}

#beauty .paragraph3 p{
  width: 100%;
}
#beauty .paragraph4 p{
  width: 100%;
}
#beautyGraf{
  width: 88%;
  margin: 0 auto;
}
#beauty .paragraph5 p{
  margin-left: auto;
}
#beauty .paragraph6 p{
  width: 100%;
}
#beauty .paragraph7 p{
  width: 100%;
}
/*----------------End Beauty CSS-------------------*/
/*----------------Grandma CSS--------------*/
#grandma .paragraphImage img{
  border: 25px solid white;
}
#grandma .paragraph1 p{
  width: 45%;
}
#grandma .paragraph1 .paragraphImage{
  display: flex;
  justify-content: flex-end;
}
#grandma .paragraph1 .paragraphImage img{
  align-self: center;
  width: 90%;
}
#grandma .paragraph2 p, #grandma .paragraph3 p, #grandma .paragraph4 p, #grandma .paragraph6 p, #grandma .paragraph7 p{
  width: 100%;
}
#grandmaHelen, #grandmaHoney{
  width: 80%;
  margin: 0 auto;
}
#grandmaHoney{
  width: 80%;
  object-fit: cover;
  object-position: center;
}
#grandmaHelen img, #grandmaHoney img{
  border: 25px solid white;
}
#grandma .paragraph5 p{
  width: 48%;
  margin-left: auto;
}
#grandma .paragraph5 .paragraphImage{
  align-self: center;
}
#grandma .paragraph5 img{
  border: 25px solid white;
}

/*----------------End Grandma CSS-----------*/
/*----------------AirTime CSS-----------*/
#airTime img{
  border: 18px solid white;
}
#airTime .paragraph1 p{
  width: 49%;
}
#airTime .paragraph2 p{
  width: 100%;
}
#samShack{
  width: 88%;
  margin: 0 auto;
}
#airTime .paragraph3 p{
  width: 100%;
}
#airTime .paragraph4 p{
  margin-right: auto;
  margin-left: 0;
  width: 48%;
}
#airTime .paragraph6{
}
#airTime .paragraph6 img{
  margin-left: 0;
  margin-right: auto;
}
#airTime .paragraph6 p{
  margin-left: auto;
  line-height: 1.75;
  align-self: center;
}
#airTime .paragraph7 p{
  width: 100%;
}
#airTime .paragraph8 p{
  margin-left: auto;
  width: 49%;
}
#airTime #samAndCustomer{
  /* width: 48%; */
}
#airTime .paragraph9 p{
  width: 100%;
}
/*----------------End AirTime CSS-----------*/

/*----------------ADD CSS--------------------*/
#apartmentDwelling .paragraph2 p{
  width: 100%;
}
#apartmentDwelling .paragraph3 .paragraphImage{
  margin-left: auto;
}
#apartmentDwelling .paragraph3 img{
  height: 100%;
  object-fit: cover;
}
#apartmentDwelling .paragraph4 p{
  width: 100%;
}
#apartmentDwelling3{
  width: 88%;
  margin: auto;
}
#apartmentDwelling3 img{
  object-fit: cover;
  height: 40vw;
  object-position: 0 80%;
}
#collage{
  width: 88%;
  margin: auto;
}
#apartmentDwelling .paragraph6 p{
  width: 100%;
}
#apartmentDwelling4{
  margin-left: auto;
}
#apartmentDwelling .paragraph8 p{
  width: 100%;
}
/*----------------End ADD CSS--------------------*/
/*----------------Start Mercury CSS--------------------*/
/* #mercury .paragraphImage img{
  border: none;
  box-shadow: none;
} */
#mercury .paragraph1 p{
  width: 100%;
}
#mercury .paragraph2{
  justify-content: space-between;
}
#mercury .paragraph2 p{
  margin-left: 0;
}
#mercury .paragraph3 p{
  width: 100%;
}
#mercury .blogSection > .paragraphImage{
  width: 88%;
  margin: 0 auto;
}
#mercury .blogSection > .paragraphImage img{
  border-width: 15px;
}
#mercury .blogQuote{
  margin-top: 5%;
}
#mercury .paragraph4 p{
  width: 100%;
}
#mercury .paragraph5{
  justify-content: space-between;
  align-items: center;
}
#mercury .paragraph5 p{
  width: 50%;
}
#mercury .paragraph6 p{
  width: 100%;
}
#mercury .paragraph7 p{
  width: 100%;
}
#mercury .paragraph8{
  justify-content: space-between;
  align-items: center;
}
#mercury .paragraph8 .paragraphImage{
  width: 80%;
}
#mercury .paragraph8 p{
  width: 50%;
}
#mercury .paragraph9 p{
  width: 100%;
}
#mercury .paragraphImageContainer{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;
}
#mercury .paragraph10 p{
  width: 100%;
}

/* Beautiful Home CSS */
#beautifulHome .paragraphImage {
  width: 88%;
  margin: auto;
  height: auto;
}
#beautifulHome .paragraphImage img{
  height: 100%;
}

#beautifulHome .paragraph1{
  width: 88%;
}
#beautifulHome .paragraph1 p{
  width: 100%;
}
#beautifulHome .thickBorder{
  border-width: 1.5vw;
}
#beautifulHome .paragraph2{
  width: 88%;
}
#beautifulHome .paragraph2 p{
  width: 100%;
}
#beautifulHome .paragraph3{
  width: 88%;
}
#beautifulHome .paragraph3 p{
  width: 100%;
}
#beautifulHome .paragraph4{
  width: 88%;
  margin-bottom: 0;
  display: flex;
}
#beautifulHome .paragraph4 p{
  width: 90%;
  margin-right: 5%;
  line-height: 1.7;
}

.blogReel img{
  width: 47.5%;
  margin-bottom: 5%;
}
#beautifulHome .paragraph4 .paragraphImage{
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
#beautifulHome .paragraph4 .paragraphImage img{
  width: 100%;
  margin-bottom: 8%;
}
#beautifulHome .paragraph5{
  width: 88%;
  flex-direction: column;
}
#beautifulHome .paragraph5 p{
  width: 100%;
}
.blogReel{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
#beautifulHome .paragraph5 a{
  color:rgb(92, 142, 180) !important;
}
#beautifulHome .paragraph5 a:hover{
  text-decoration: underline;
}
#beautifulHome .paragraphBorder{
  border-top: 1px solid rgba(0,0,0,0.3);
  border-bottom: 1px solid rgba(0,0,0,0.3);
  padding: 2vw 0;
}

/* End Beautiful Home CSS */


/*----------------End Mercury CSS--------------------*/

/* ------------------I'm Still Hot---------------------- */
#stillHot .paragraph1 p, #stillHot .paragraph2 p{
  width: 100%;
}
#stillHot .paragraphImage{
  width: 88%;
  margin: auto;
}

#stillHot .paragraph3 p{
  width: 55%;
}
#stillHot .paragraph3 .paragraphImage{
  width: 40%;
  margin: 0;
  margin-left: 5%;

}
#stillHot .paragraph3 .paragraphImage img{
  width: 100%;
  height: 100%;
  object-fit:cover;
}
#stillHot .paragraph4 p{
  width: 100%;
  margin-top:4%;
  margin-bottom: 4%;
}
#stillHot .paragraph4 ul{
  width: auto;
}
#stillHot .paragraph4 li{
  font-size: 1.2vw;
  line-height: 1.6;
  color: rgb(92, 142, 180);
  width: fit-content;
  display: flex;
}

#stillHot .paragraph6 p{
  width: 100%;
}

/* ------------------ End I'm Still Hot---------------------- */

/* ------------------You’re Going to Make it After All----------------- */
#makeIt .paragraph p{
  width: 100%;
}

#makeIt .paragraph {
  width: 88%;
  flex-wrap: wrap;
}
#makeIt .paragraphImage{
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
/* ------------------End You’re Going to Make it After All----------------- */


/* --------------------- Full Frontal Conversation------------------------ */

#frontalConversation .paragraph{
  width: 88%;
}
#frontalConversation .paragraphImage{
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
#frontalConversation .paragraph1 p, #frontalConversation .paragraph4 p{
  width: 50%;
}
#frontalConversation .paragraph1 .paragraphImage, #frontalConversation .paragraph4 .paragraphImage{
  width: 45%;
  display: flex;
  align-items: center;
  margin-right: 0;
}
#frontalConversation .paragraph1 .paragraphImage img{
  height: 65%;
  object-fit: cover;
}
#frontalConversation .paragraph2, #frontalConversation .paragraph3{
  flex-wrap: wrap;
}
#frontalConversation .paragraph2 p, #frontalConversation .paragraph3 p, #frontalConversation .paragraph5 p, #frontalConversation .paragraph6 p{
  width: 100%;
}


#frontalConversation .paragraph4 p{
  margin-left: 0;
}
/* --------------------- End Full Frontal Conversation------------------------ */
/*Do one or two paragraphs of text and then separate them with two smaller horizontal pictures!*/
@media screen and (max-width: 1023px){
  .blogContainer{
    width: 100%;
    margin-bottom: 25%;
  }
  .blogPostContainer{
    width: 100%;
    height: 45vw;
    margin-bottom: 8%;
    box-sizing: border-box;
  }
  .blogPost{
    width: 100%;
    height: 45vw;
  }
  .blogPost img{
    object-fit: cover;
    object-position: center;
  }
  #blogPageBeauty{
    object-fit: fill;
  }
  .blogText{
    width: 45%;
  }
  .blogText h2{
    font-size: 3.6vw;
    margin-top: 5%;
    margin-bottom: 2%;
  }
  .socialMedia a{
    font-size: 18px;
  }
  .blogPostContainer .socialMedia{
    right: 2%;
  }
  .blogPostContainer .socialMedia a{
    margin: 0;
    margin-left: 2.5vw;

  }
  .blogText p{
    margin: 1% auto;
    font-size: 3vw;
  }
  .blogPost span{
    font-size: 2.5vw;
  }
  .footer .socialMedia a{
    font-size: 26px;
  }

  .blogHeader h1{
    font-size: 4.5vw;
  }
  .blog{
    width: 100%;
    border: none;
  }
  .paragraph p, .paragraph span{
    font-size: 3.5vw;
    width: 49%;
    line-height: 1.5;
  }
  .blogHeader, .paragraph{
    margin: 4%
  }
  #deniseBlog .paragraphImage{
    width: 49%;
    height: 120vw;
    display: flex;
  }
  #deniseBlog .paragraphImage img{
    height: 75%;
    object-fit: cover;
    object-position: center;
  }
  #deniseBlog .paragraph2 .paragraphImage{
    align-items: flex-start;
    height: 80vw;
  }
  #deniseBlog .paragraph2 .paragraphImage img{
    height: 90%;
    object-position: 55% 0;
  }
  #deniseBlog .paragraph2 p{
    margin-left: 5%;
  }
  #deniseBlog .finalImage{
    margin-bottom: 25%;
  }

  #dumpster{
    width: 100%;
  }
  #dumpster .blogSection > .paragraphImage{
    width: 92%;
  }
  #dumpster .paragraph p{
    font-size: 3.5vw;
  }
  #dumpster .paragraph2 p{
    margin-left: auto;
  }
  #dumpster .paragraph .paragraphImage{
    height: 90vw;
    align-items: center;
  }
  #dumpster .paragraph .paragraphImage img{
    height: 100%;
    object-fit: cover;
    object-position: 90% 0;
  }
  #dumpster .paragraph3 .paragraphImage{
    height: 140vw;
    flex-direction: column;
    justify-content: space-around;
  }
  #dumpster .paragraph3 .paragraphImage img{
    margin: 0;
    height: 45%;
    object-fit: cover;
    object-position: 50% 0;
  }
  #dumpster .paragraph5 p{
    width: 100%;
  }
  #dumpster .paragraph5{
    margin-bottom: 20%;
  }

  .blogQuote h2, span{
    font-style: italic;
    font-weight: bold;
    font-size: 4vw;
  }
  #beauty .paragraph .paragraphImage{
    height: 100vw;
    background: green;
  }
  #beauty .paragraphImage img{
    height: 100%;
    object-fit: cover;
    object-position: 75% 0;
  }
  #beauty .paragraph5 .paragraphImage{
    height: 70vw;
  }
  #beauty .paragraph5 .paragraphImage img{
    object-position: center;
  }
  #beautyGraf{
    width: 92vw;
  }
  .blog .socialMedia{
    width: 92vw;
    margin-bottom: 5%;
  }
  .postDate{
    margin-bottom: 2%;
  }
  /*----------------Grandma CSS--------------*/
  #grandma .paragraph1 .paragraphImage img{
    width: 100%;
    object-position: 45% 0;
  }
  #grandma .paragraphImage img{
    height: 85%;
    object-fit: cover;
    border: 10px solid white;
  }
  #grandmaHelen, #grandmaHoney{
    width: 92vw;
    height: 100%;
  }
  #grandma .paragraph5{
  }
  #grandma .paragraph5 .paragraphImage{
    height: 70vw;
    display: flex;
    align-items: center;
  }
  #grandma .paragraph5 .paragraphImage img{
  }
  /*----------------End Grandma CSS-----------*/
  /*----------------AirTime CSS-----------*/
  #airTime .paragraph1{
    flex-direction: column-reverse;
  }

  #airTime .paragraph1 .paragraphImage{
    width: 75%;
    margin: 0 auto 10% auto;
  }
  #airTime .paragraph1 img{
    object-fit: cover;
  }
  #airTime .paragraph1 p{
    width: 100%;
  }
  #airTime .paragraph4 img{
    height: 100%;
    object-fit: cover;
  }
  #airTime .paragraph5 p{
    width: 100%;
  }
  #airTime .paragraph6 p{
    line-height: 1.6;
  }
  #airTime .paragraph6 img{
    object-fit: cover;
    align-self: center;
    height: 80%;
    margin-top: 15%;
    object-position: left;
  }
  #airTime .paragraph8{
    flex-direction: column;
  }
  #airTime .paragraph8 .paragraphImage{
    width: 75%;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  #airTime .paragraph8 p{
    width: 100%;
  }
  /*----------------End AirTime CSS-----------*/
  /*----------------ADD CSS-----------*/
  #apartmentDwelling .paragraph1 img{
    height: 70%;
    object-fit: cover;
    margin-top: 35%;
  }
  #apartmentDwelling .paragraph3{
    flex-direction: column-reverse;
  }
  #apartmentDwelling .paragraph3 .paragraphImage{
    width: 100%;
  }
  #apartmentDwelling .paragraph3 img{
    height: 70vw;
    object-fit: cover;
    object-position: 0 25%;
  }
  #apartmentDwelling .paragraph3 p{
    margin-top: 5%;
    width: 100%;
  }
  #apartmentDwelling3{
    width: 92vw;
  }
  #apartmentDwelling3 img{
    height: 80vw;
  }
  #collage{
    width: 92vw;
    margin: 10% auto;
  }
  #apartmentDwelling .paragraph5 p{
    width: 100%;
  }
  #apartmentDwelling4 img{
    height: 80%;
    object-fit: cover;
    margin-top: 25%;
  }
  /*----------------End ADD CSS-----------*/
  /*----------------Start Mercury CSS----------------*/
  #mercury{
    width: 90vw;
    margin: 0 auto;
    border-left: none;
    border-right: none;
  }
  #mercury .paragraph{
    margin: 4% 2%;
  }
  #mercury .paragraph1 p{
    width: 100%;
  }
  #mercury .paragraph2{
    flex-direction: column;
    justify-content: space-between;
  }
  #mercury .paragraph2 p{
    margin-left: 0;
    width: 100%;
    position: relative;
  }
  #mercury .paragraph2 .paragraphImage{
    width: 100%;
    margin: 4% auto 2% auto;
  }
  #mercury .paragraph3 p{
    width: 100%;
  }
  #mercury .blogSection > .paragraphImage{
    /* width: 88%; */
    width: 100%;
    margin: 0 auto;
  }
  #mercury .blogQuote{
    margin-top: 5%;
    width: 100vw;
    position: relative;
    left: -5vw;
    padding: 10% 0;
  }
  #mercury .blogQuote h2{
    font-size: 5.5vw;
  }
  #mercury .paragraph4 p{
    width: 100%;
  }
  #mercury .paragraph5{
    flex-direction: column;
  }
  #mercury .paragraph5 p{
    width: 100%;
  }
  #mercury .paragraph5 .paragraphImage{
    width: 100%;
    margin: 8% auto 2% auto;
  }
  #mercury .paragraph6 p{
    width: 100%;
  }
  #mercury .paragraph7 p{
    width: 100%;
  }
  #mercury .paragraph8{
    flex-direction: column;
  }
  #mercury .paragraph8 .paragraphImage{
    width: 80%;
  }
  #mercury .paragraph8 p{
    width: 100%;
  }
  #mercury .paragraph9 p{
    width: 100%;
  }
  #mercury .paragraphImageContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 8% 0 2% 0;
   }
  #mercury .paragraphImageContainer img{
    height: 50vw;
    width: auto;
  }
  #mercury .paragraph10{
    flex-direction: column;
    margin-bottom: 12%;
  }
  #mercury .paragraph10 p{
    width: 100%;
  }
  #mercury .paragraph10:before{
    content:"";
    width: 100%;
    background: rgba(0,0,0,0.1);
    height: 1px;
    margin: 10% 0 14% 0;
  }
  /*----------------End Mercury CSS----------------*/
  /*----------------Beautiful Home CSS------------------ */
  #beautifulHome .blogHeader{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  #beautifulHome .paragraph{
    margin-left: auto;
    margin-right: auto;
  }
  #beautifulHome .paragraph p{
    margin: 0;
  }
  #beautifulHome .paragraphImage{
    height: auto;
  }
  #beautifulHome .paragraphImage img{
    height: 100%;
  }
  #beautifulHome .paragraph4{
    width: 88%;
    flex-direction: column;
  }
  #beautifulHome .paragraph4 p{
    width: 100%;
  }
  #beautifulHome .paragraph4 .paragraphImage{
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 5%;
    }
  #beautifulHome .paragraph4 .paragraphImage img{
    width: 47.5%;
  }
  #beautifulHome .paragraph4 .paragraphImage img:first-of-type{
    width: 100%;
  }
  /* End Beautiful Home CSS */

  /* -----------------I'm Still Hot--------------------- */
  #stillHot .blogHeader, #stillHot .paragraph1, #stillHot .paragraph2, #stillHot .paragraph3, #stillHot .paragraph4, #stillHot .paragraph5, #stillHot .paragraph6{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  #stillHot .paragraph3{
    flex-wrap: wrap;
    flex-direction: column-reverse;

  }
  #stillHot .paragraph3 p, #stillHot .paragraph5 p, #stillHot .paragraph6 p{
    width: 100%;
  }
  #stillHot .paragraph3 .paragraphImage{
    width: 100%;
    margin: 4% auto 4% auto;
    display: flex;
    justify-content: center;
  }
  #stillHot .paragraph3 .paragraphImage img{
    width: 75%;
  }
  #stillHot .paragraph4 li{
    font-size: 3.5vw;
  }
  #stillHot .socialMedia{
    margin-top: 4%;
  }

  /* -----------------End I'm Still Hot--------------------- */

  /* ------------------You’re Going to Make it After All----------------- */

  #makeIt .paragraph p{
    width: 100%;
  }

  #makeIt .paragraph, #makeIt .blogHeader{
    width: 88%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  #makeIt .paragraphImage{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  /* ------------------ End You’re Going to Make it After All----------------- */

  /* --------------------- Full Frontal Conversation------------------------ */

  #frontalConversation .paragraph, #frontalConversation .blogHeader{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }
  #frontalConversation .paragraph1 p, #frontalConversation .paragraph4 p{
    width: 100%;
    margin-bottom: 6%;
  }
  #frontalConversation .paragraph1 .paragraphImage, #frontalConversation .paragraph4 .paragraphImage{
    width: 100%;
    display: flex;
    align-items: center;
  }

  #frontalConversation .paragraph1 .paragraphImage img{
    height: 100%;
  }
  #frontalConversation .paragraph{
    flex-wrap: wrap;
  }
  #frontalConversation .paragraphImage{
    width: 88%;
    margin-left: auto;
    margin-right: auto;
  }

  #frontalConversation .paragraph4 p{
    margin-left: 0;
  }
  #frontalConversation .paragraph4 .paragraphImage{
    margin-right: 0;
  }

  /* --------------------- End Full Frontal Conversation------------------------ */
}
@media screen and (max-width: 750px){
  .blogText p{
    font-size: 3.5vw;
    display: -webkit-box;
    overflow: hidden;
    height: 4em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    /* overflow: hidden;
    text-overflow: ellipsis; */
  }
}
