.banner{
  background-image: url('./images/homeStaging/Tranquility-7.jpg');
  background-position: 0 80%;
  width: 95vw;
  box-sizing: border-box;
  margin-bottom: 8px;
  height: 60vh;
}

.stagingContainer{
  width: 100%;
  margin: 0 auto;
}

.stagingText{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding: 3vw 0;
}
.stagingText h2{
  width: 100%;
  text-align: center;
  margin-bottom: 5%;
  font-size: 3vw;
  position: relative;
}
.stagingText h2::after{
  content: '';
  position: absolute;
  width: 40%;
  left: 30%;
  height: 1px;
  bottom: -50%;
  background: rgb(92, 142, 180);
}
.stagingText p{
  width: 43%;
  position: relative;
  font-size: 1.2vw;
  line-height: 1.6;
}
.divider::after{
  content: '';
  position: absolute;
  height: 75%;
  width: 1px;
  right: -7%;
  top: 5%;
  background: rgb(92, 142, 180);
}
.stagingImages{
  display: flex;
  justify-content: center;
  width: 95vw;
  padding: 5vw 0;
}
.stagingItem{
  width: 35vw;
  height: 23.333vw;
  position: relative;
  box-shadow: 3px 3px 8px 1px grey;
  box-sizing: border-box;
}
.stagingItem img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.stagingItem h3{
  position: absolute;
  top: 1%;
  left: 2%;
  color: white;
  font-size: 2vw;
  width: 40%;
}

.stagingItem h3 span{
  position: relative;
  color: white;
}
.stagingItem h3 span:after{
  content: "";
  background-color: white;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.2s ease-in;
}
/* .stagingItem img:hover ~ h3:after, .stagingItem h3:hover h3:after{
  width: 100%;
  right:0;
} */
.stagingImages a:hover > h3 span:after{
  width: 100%;
}

@media screen and (max-width: 1023px){
  .banner{
    background-position: 35% 80%;
    height: 60vh;
  }
  .stagingText{
    flex-direction: column;
  }
  .stagingText h2{
    font-size: 6vw;
    width: 75vw;
    margin: 0 auto;
    margin-bottom: 10%;
  }
  .stagingText h2::after{
    bottom: -30%;
  }
  .stagingText p{
    font-size: 4vw;
    width: 90vw;
    margin: 0 auto;
  }
  .divider{
    padding-bottom: 2vw;
  }
  .divider::after{
    display: none;
  }
  .stagingImages{
    margin: 0 auto;
  }
  .stagingItem{
    width: 90vw;
    height: 80vw;
    margin: 0 auto;
  }
  .stagingItem h3{
    font-size: 6vw;
  }
}

@media screen and (max-width: 1023px) and (min-width: 750px){

}

@media screen and (max-width: 1366px) and (min-width: 1024px){
  .stagingText p{
    font-size: 1.5vw;
  }
  .stagingItem{
    width: 40vw;
    height: 35vw
  }
}
