*{
  margin: 0;
  padding: 0;
}
.slideshow{
  position: relative;
  width: 53%;
  margin: 0 auto;
  height: 32vw;
  color: black;
}

.slide{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.slide p{
  position: absolute;
  bottom: 1%;
  left: 1%;
  color: white;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  /* color: white; */
  font-weight: bold;
  font-size: 32px;
  user-select: none;
  /* background: rgba(0,0,0,0.3); */
}
.next{
  right: 0;
}
.number{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slide img{
  align-self: center;
  width: 100%;
  height: auto;
}

.paragraph, .quote, .services{
  line-height: 1.6;
}
.paragraph, .services{
  width: 53%;
  margin: 2% auto;
  font-size: 1.2vw;
}

.paragraph span, .services span{
  font-weight: bold;
}
.quote{
  width: 100%;
  background: rgba(51, 51, 51, 0.1);
  height: 30%;
}
.quote h2{
  width: 53%;
}

.services{
  margin-bottom: 10%;
}
.services li{
  list-style: square inside;
  width: 96%;
  margin-left: auto;
}
.services a{
  font-weight: bold;
}
.services a:hover{
   border-bottom: 1px solid gray;
}

#edgecombe{
  position: relative;
  width: 100%;
  height: 100%;
}
#edgecombe h1{
  position: absolute;
  /* background: rgba(51, 51, 51, 0.5); */
  bottom: 2%;
  left: 2%;
  color: white;
}
#edgecombeText:after{
  content: "";
  background-color: white;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 10%;
  left: 0;
  transition: width 0.2s ease-in;
}
#edgecombe:hover > #edgecombeText:after{
  width: 100%;
}
#projects h3{
  background: rgba(0,0,0,0.3);
  padding: 0 2%;
}
#themesService h3{
  background: rgba(0,0,0,0.3);
}
#projects h3:after{
  content : '';
  background-color: white;
  height: 3px;
  width: 0%;
  bottom: 10%;
  left: 6%;
  position: absolute;
  transition: width 0.2s ease-in;
}
#projects a:hover > h3:after{
  width: 88%;
}


@media screen and (max-width: 1023px){
  .slideshow{
    width: 100%;
    height: 90vw;
  }
  .slide{
    width: 90%;
  }
  #edgecombe{
    width: 100%;
    height: auto;
    align-self: center;
  }
  .slide p{
    left: 1%;
    bottom: 14%;
    font-size: 2.5vw;
  }
  .prev, .next{
    color: rgba(0,0,0,0.5);
  }
  .paragraph{
    width: 90%;
    margin-bottom: 10%;
  }
  .paragraph p{
    font-size: 3.5vw;
  }
  .quote{
    margin-bottom: 10%;
    height: 30vw;
  }
  .quote h2{
    width: 75%;
  }
  .services{
    width: 90%;
  }

}
@media screen and (max-width: 1024px) and (min-width: 750px){

}
