*{
  margin: 0;
  padding: 0;
}
.slideshow{
  position: relative;
  /* width: 53%; */
  width: 75%;
  height: 42vw;
  margin: 0 auto;
  /* height: 32vw; */
  color: black;
}

.slide{
  display: flex;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  position: relative;
}
.slide p{
  position: absolute;
  bottom: 1%;
  left: 1%;
  color: white;
}

.prev, .next{
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  color: rgba(0,0,0,0.3);
  font-weight: bold;
  /* font-size: 32px; */
  font-size: 52px;
  padding: 2% 1%;
  user-select: none;
  /* background: rgba(0,0,0,0.1); */
}
.next{
  right: 0;
}
.number{
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.slide img{
  align-self: center;
  width: 100%;
  height: auto;
}

.interiorDesignText{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* new interior design section below main image */
#projects {
  width: 75%;
  margin: 5% auto;
  justify-content: center;
  align-items: center;
}
#projects a:hover{
  color: orange;
}
.intImage{
  width: 40%;
  margin-right: 5%;

}
.intImage img{
border-radius: 10%;
}
.intText{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
  margin-left: 5%;
  height: 100%;
}
.intText p{
  line-height: 1.8;
}
.aboutSection{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.aboutImage{
  display: flex;
  justify-content: flex-end;
  margin-right: 5%;
}
.aboutText{
  margin-left: 5%;
}
.aboutImage img{
  width: 50%;
}
.aboutChild{
  width: 45%;
}

.portfolio{
  margin-top: 10%;
}
.portfolio h2{
  letter-spacing: 3px;
  margin-bottom: 3%;
}
.portfolioLinks{
  display: flex;
  flex-wrap: wrap;
}
.portfolio h3{
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 8px black;
}
.portfolio a:hover h3{
  background: rgba(0,0,0,0.4);
}
.portfolio a{
  width: 50%;
}

/* End new interior design section below main image */


.paragraph, .quote, .services{
  line-height: 1.6;
}
.paragraph, .services{
  width: 53%;
  margin: 2% auto;
  font-size: 1.2vw;
}

.paragraph span, .services span{
  font-weight: bold;
}
.quote{
  width: 100%;
  background: rgba(51, 51, 51, 0.1);
  height: 30%;
  padding: 2% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quote h2{
  width: 75%;
}
.quote span{
  width: 75%;
  align-self: flex-end;
}
.quote .quoteFrom{
  width: 56%;
  text-align: right;
}


.services{
  margin-bottom: 10%;
}
.services li{
  list-style: square inside;
  width: 96%;
  margin-left: auto;
}
.services a{
  font-weight: bold;
}
.services a:hover{
   border-bottom: 1px solid gray;
}

.paragraph, .services{
  width: 75%;
  margin: 0;
}

#edgecombe{
  position: relative;
  width: 100%;
  height: 100%;
}
#edgecombe h1{
  position: absolute;
  /* background: rgba(51, 51, 51, 0.5); */
  bottom: 2%;
  left: 2%;
  color: white;
}
#edgecombeText:after{
  content: "";
  background-color: white;
  height: 3px;
  width: 0;
  position: absolute;
  bottom: 10%;
  left: 0;
  transition: width 0.2s ease-in;
}
#edgecombe:hover > #edgecombeText:after{
  width: 100%;
}
/* #projects a{
  background: rgba(0,0,0,0.3);
} */
/* #projects h3{
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in;
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  text-shadow: 1px 1px 8px black;
} */
#themesService h3{
  /* background: rgba(0,0,0,0.3); */
}
/* #projects h3:after{
  content : '';
  background-color: white;
  height: 3px;
  width: 0%;
  bottom: 10%;
  left: 6%;
  position: absolute;
  transition: width 0.2s ease-in;
}
#projects a:hover > h3:after{
  width: 88%;
} */
#projects a:hover h3{
  background: rgba(0,0,0,0.4);
}

.videoContainer{
  display: flex;
  justify-content: center;
  width: 75%;
  margin: 8% auto 4% auto;
}
video{
  width: 50%;
}


@media screen and (max-width: 1023px){
  .slideshow{
    width: 100%;
    height: 90vw;
  }
  .slide{
    width: 90%;
  }
  #edgecombe{
    width: 100%;
    height: auto;
    align-self: center;
  }
  .slide p{
    left: 1%;
    bottom: 14%;
    font-size: 2.5vw;
  }
  .prev, .next{
    color: rgba(0,0,0,0.5);
    font-size: 48px;
  }
  #projects{
    flex-direction: column;
  }
  #projects a{
    width: 100%;
    height: auto;
  }
  #projects h3{
    font-size: 6vw;
  }
  .paragraph{
    width: 90%;
    margin-bottom: 10%;
  }
  .paragraph p{
    font-size: 3.5vw;
  }
  .quote{
    margin-bottom: 10%;
    height: 30vw;
  }
  .quote h2{
    width: 75%;
  }
  .services{
    width: 90%;
  }
  .videoContainer{
    display: flex;
    justify-content: center;
    width: 90%;
    margin: 4% auto;
  }
  video{
    width: 100%;
  }

}
@media screen and (max-width: 750px){
  .prev, .next{
    font-size: 32px;
  }

}
