*{
  padding: 0;
  margin: 0;
}
.description{
  width: 100%;
  margin: 2% auto;
  font-size: 1.2vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  line-height: 1.6;
  background: rgba(51, 51, 51, 0.1);
  position: relative;
  padding: 2% 0;
}
.description img{
  /* min-width: 32vw;
  min-height: 32vw;
  max-width: 35vw;
  max-height: 35vw; */
  width: 35vw;
  height: 30vw;
  margin-right: 5%;
}

.descText{
  display: flex;
  width: 40vw;
  height: 30vw;
  flex-direction: column;
  justify-content: space-between;

}
.descText p{
  width: 100%;
  font-size: 1.15vw;
}
.descCTA{
}
.descCTA a{
  cursor: pointer;
  font-weight: bold;
}
.descCTA a:hover{
  border-bottom: 1px solid black;
}
.descCTA p:first-child{
  margin-bottom: 2%;
}
.descCTA .socialMedia{
  height: auto;
  margin-top: 1%;
}

.productTitle{
  width: 100%;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 5%;
}
.productTitle img{
  width: 4vw;
  height: 4vw;
  margin-right: 1vw;
}
.products{
  width: 96%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2% auto 20% auto;
}
.sort{
  width: 100%;
  display: none;
}

.item{
  width: 28vw;
  padding-bottom: 5%;
  position: relative;
}
.item img{
  width: 28vw;
  height: 28vw;
  object-fit: contain;
  background: rgba(220,203,185,0.6);
}
.item h3{
  text-align: center;
  margin-top: 1%;
}
#imageLogo{
  position: absolute;
  background: none;
  bottom: 26%;
  right: 2%;
  width: 2vw;
  height: 2vw;

}
.rotate{
  transform: rotate(90deg);
}
.large{
  font-size: 1.6vw;
}
.bold{
  font-weight: bold;
}
@media screen and (max-width: 1023px){
  *{
    margin: 0;
    padding: 0;
  }
  .description{
    min-height: 120vw;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    margin-bottom: 10%;
    width: 100%;
  }
  .description img{
    width: 100%;
    height: 90vw;
    max-width: none;
    max-height: none;
    margin: 0 auto;
  }
  .descText{
    width: 90%;
    height: auto;
    max-height: none;
    margin: 2% auto;
    padding: 5% 0;
  }
  .descText p{
    font-size: 3.5vw;
    margin-bottom: 3%;
  }

  .descCTA .socialMedia a{
    margin: 0;
    margin-right: 0;
    margin-right: 5% !important;
    margin-top: 2%;
    font-size: 28px;
  }

  .products{
    width: 100%;
  }
  .productTitle h1{
    font-size: 5vw;
  }
  .productTitle img{
    margin-left: 5%;
    width: 7vw;
    height: 7vw;
  }
  .item{
    width: 100%;
    height: 100vw;
    padding-bottom: 10%;
    margin-bottom: 10%;
  }
  .item h3{
    font-size: 4vw;
  }
  .item img{
    width: 100%;
    height: 100%;
    object-fit:cover;
  }
  #imageLogo{
    width: 7vw;
    height: 7vw;
    bottom: 11%;
    /* right: 5%; */
  }
  #rectangleMAH img{
    object-fit: contain;
  }

  .large{
    font-size: 4.5vw;
  }
  .bold{
    font-weight: bold;
  }
}

@media screen and (max-width: 1440px) and (min-width: 1024px){
  /* * h1{
    font-size: 3.5vw;
  }
  * h2{
    font-size: 3vw;
  } */
  * h3, p{
    font-size: 1.2vw;
  }
  .descText p{
    font-size: 1.25vw;
  }
  /* .heading{
    margin-top: 2%;
    margin-bottom: 2%;
  } */
  .descText{
    height: 35vw;
  }
  .description img{
    height: 35vw;
    width: 40vw;
  }
