*{
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: #333333;
}
html, body{
  width: 100%;
  height: 100%;
  position: relative;
  padding-bottom: 5%;
}
h1{
  font-size: 3.3vw;
}

h3{
  font-size: 1.2vw;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.heading{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1%;
  line-height: 1.6;
}
.heading h1, .heading h3{
  letter-spacing: 7px;
}
.heading > h3{
  margin-bottom: 1%;
}
#normal{
  letter-spacing: 4.2px;
}
.nav{
  width: 96%;
  display: flex;
  align-items: center;
  margin: 0 auto 2% auto;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  padding: 1% 0;
}
.nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  position: relative;
  text-decoration: none;
}
.nav li{
  height: 100%;
  display: flex;
  align-items: center;
  margin-right: 3%;
}
.nav a{
  text-transform: uppercase;
}
.nav a:hover{
  border-bottom: 1px solid #333333;
}


.banner{
  background-image: url('./images/collage/modRusNobord.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 96%;
  height: 80vh;
  margin: auto;
  position: relative;
  display: flex;
  box-shadow: 3px 3px 8px 1px grey;
}
.banner h3{
  position: absolute;
  left: 11%;
  top: 24%;
  width: 20%;
  height: auto;
  text-align: center;
  background: rgba(0,0,0,0.2);
}
.quote{
  width: 96%;
  margin: 2% auto;
  font-size: 1.4vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quote h2{
  width: 75%;
  display: flex;
  align-items: center;
  padding: 2% 0;
  flex-wrap: wrap;
  font-style: italic;
}
.quote span{
  width: 100%;
  text-align: right;
  font-style: normal;
}

.pictureNav{
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 20%;
  position: relative;

}
.pictureNavItem{
  max-height: 40%;
  position: relative;
  margin-bottom: 2%;
  box-shadow: 3px 3px 8px 1px grey;
  cursor: pointer;
}
.pictureNav h3{
  font-size: 3.2vw;
  font-family: 'Lato';
  font-weight: 400;
  color: white;
}
#airHead{
  width: 70%;
  margin-right: 2%;
}
#airHead img{
  width: 100%;
  height: 100%;
}
#airHead h3{
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  white-space: nowrap;
}
#denise{
  width: 28%;
  background: #e6e6e6;
}
#denise img{
  height: 100%;
  width: 100%;
}
#denise h3{
  position: absolute;
  bottom: 1%;
  left: 1%;
  line-height: 1;
}
#blog{
  width: 43%;
  margin-right: 2%;
}
#blog img{
  height: 100%;
  width: 100%;
}
#blog h3{
  position: absolute;
  top: 27%;
  left: 57%;
}
#intDesign{
  width: 55%
}
#intDesign img{
  height: 100%;
  width: 100%;
}
#intDesign h3{
  width: 25%;
  position: absolute;
  bottom: 10%;
  left: 2%;
  transform: translate(0,0);
  text-align: left;
  line-height: 1.2;
}

.footer{
  position: relative;
  bottom: 5%;
  width: 96%;
  padding: 0.5% 0;
  margin: 5% auto;
  border-top: 1px solid #333333;
  border-bottom: 1px solid #333333;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socialMedia{
  height: 100%;
  display: flex;
  align-items: center;
}

.fa{
  text-decoration: none;
  color: #333333;
}
#insta, #fb{
  margin-right: 1vw;
}
#momin{
  background: #333333;
  color: white;
  font-size: 12px;
  padding: 0 3px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#momin img{
  width: 100%;
  height: 100%;
}

.margin{
  margin-bottom: 2%;
}
