*{
  margin: 0;
  padding: 0;
}
html, body{
  width: 100%;
  height: 100%;
  background: #B5C1D1;
}
h1{
  font-size: 3vw;
  margin-bottom: 1%;
}

h3{
  font-size: 1.1vw;
}

li{
  list-style: none;
}
.heading{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 15vh;
}
.nav{
  width: 60%;
  height: 7vh;
  display: flex;
  align-items: center;
  margin: 2% auto;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}
.nav ul{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1vw;
  position: relative;
  text-decoration: none;
}
.nav li{
  height: 100%;
  display: flex;
  align-items: center;
}
.nav a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}


.banner{
  background-image: url('./images/modRusNobord.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 96%;
  height: 90vh;
  margin: auto;
  position: relative;
  display: flex;
}
.banner h3{
  font-size: 3vw;
  position: absolute;
  left: 11%;
  top: 24%;
  width: 20%;
  height: auto;
  text-align: center;
  background: rgba(0,0,0,0.2);
}

.pictureNav{
  width: 96%;
  display: flex;
  flex-wrap: wrap;
  margin: 2% auto;
  position: relative;
}
.pictureNavItem{
  height: 50vh;
  position: relative;
  margin-bottom: 2%;
}
#airHead{
  width: 55%;
  margin-right: 2%;
}
#airHead img{
  width: 100%;
  height: 100%;
}
#airHead h3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  font-size: 3vw;
}
#denise{
  width: 43%;
}
#denise img{
  height: 100%;
  width: auto;
}
#denise h3{
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 3vw;

}
#blog{
  width: 43%;
  margin-right: 2%;
}
#blog img{
  height: 100%;
  width: 100%;
}
#blog h3{
  position: absolute;
  font-size: 3vw;
  top: 0;
  left: 0;
}
#intDesign{
  width: 55%
}
#intDesign img{
  height: 100%;
  width: 100%;
}
#intDesign h3{
  position: absolute;
  font-size: 3vw;
  top: 0;
  left: 0;
}
