*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
i{
  position: fixed;
  top: 1%;
  left: 1%;
  cursor: pointer;
}
.nav{
  width: 95%;
  height: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: fixed;
  z-index: 2;
  left: 5%;
  transition: .3s;
  overflow-y: hidden;
  background-color: white;
}
.nav ul{
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 3vh;
}

.nav a{
  text-decoration: none;
  color: black;
}
a.anchor{
  display: block;
  position: relative;
  visibility: hidden;
  bottom: 5vh;
}
.page{
  height: 100vh;
  width: 95%;
  margin-left: auto;
  position: relative;
  display: flex;
  top: 5vh;
}

.introPage{
  flex-direction: column;
  font-size: 5.5vw;
  justify-content: center;
  height: 80vh;
  
}
.aboutPage{
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}
.aboutPage > h1{
  text-align: center;
  font-size: 5.5vw;
}
.bio{
  display: flex;
}

.services{
  width: 100%;
  display: flex;
  justify-content: space-around;
  
}
.service{
  width: 20vw;
  height: 20vw;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  text-align: center;
}
.projectsPage{
  height: 90vh;
  padding-top: 10vh;
  flex-direction: column;
}
.projectsPage > h1{
  text-align: center;
  margin-bottom: 10vh;
  font-size: 5.5vw;
}
.projectsList{
  display: flex;
  width: 100%;
  justify-content: center;
}
.proj{
  width: 25vw;
  height: 25vw;
  border: 1px solid black;
  margin-right: 2vw;
}
.overlay{
  display: none;
}

.contactPage{
  flex-direction: column;
  align-items: center;
}
.contactInfo{
  display: flex;
  position: relative;
}

.contactItem{
  width: 30vw;
  height: 40vw;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
