/*------------Unversal CSS-------------*/
*{
  padding: 0;
  margin: 0;
  font-family: 'Work Sans';
  color: #404040;
}
li{
  list-style: none;
}
i{
  position: fixed;
  top: 1%;
  left: 1%;
  cursor: pointer;
  z-index: 3;
}
p, span{
  font-size: 1.2vw;
}

h1, h2{
  font-weight: 400;
}
h1{
  font-size: 8vw;
}
/*----------------End Universal CSS-----------------*/
/*----------------Start NavBar CSS-----------------*/
.nav{
  width: 100%;
  height: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  transition: .3s;
  overflow-y: hidden;
  background-color: white;

}
.nav ul{
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 1.2vw;
  position: relative;
}



.name{
  position: absolute;
  right: 1%;
  font-size: 1.2vw;
}

.nav a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}
/*----------------End NavBar CSS-----------------*/
/*----------------Start Underline animation-----------------*/
.underline{
  position: relative;
}
.underline:after{
  content: "";
  color: black;
  background-color: black;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .2s ease-in;
}
.underline:hover:after{
  width: 100%;
  right: 0;
}

span{
  position: relative;
}
span:after{
  content: "";
  color: black;
  background-color: black;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .2s ease-in;
}
.image:hover ~ span:after{
  width: 100%;
  right:0;
}
/*----------------End Underline Animation-----------------*/
/*----------------Start General Page Structure--------------*/
.page{
  min-height: 80vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  top: 8vh;
}
.page h2{
  font-size: 3vw;
  text-align: center;
  margin-bottom: 10vh;
}
/*----------------End General Page Structure-----------------*/
/*----------------Start IntroPage CSS-----------------*/
/*Changed font size from 5vw to 4vw and adding h1 width*/
.introPage{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8vh;
  /*background-image: url('../images/leaves.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/

}
.introPage h1{
  width: 70vw;
  height: 30vh;
  margin: 20vh auto;
  text-align: center;
  font-size: 5vw;
  font-weight: 400;
}
.introName{
  white-space: nowrap;
  font-size: 5vw;
  font-weight: 600;
}
.bio{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100vw;
  background-color: #BDCBD4;
}
.bioItem{
  height: 40vh;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline{
  width: 48vw;
  margin-right: 2vw;
}
.headline h2{
  text-align: left;
  margin: 0;
}

.aboutText{
  width: 20vw;
}
.aboutText a{
  text-decoration: none;
}
.aboutText a:after{
  background-color: blue;
}
/*----------------End IntroPage CSS-----------------*/
/*----------------Start AboutPage CSS-----------------*/
.aboutPage{
  flex-direction: column;
  margin-bottom: 10vh;
}


.services{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10vh;
  position: relative;

}
.service{
  width: 35vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.service img {
  width: 35vw;
  height: 25vw;
  position: relative;
}


/*----------------End AboutPage CSS-----------------*/
/*----------------Start ProjectsPage CSS-----------------*/
.projectsPage{
  flex-direction: column;
}
.projectsPage h2{
  margin-bottom: 2vh;
}
.projectsPage p{
  width: 75vw;
  margin: 0 auto 10vh auto;
  text-align: center;
}
.projectsPage a{
  text-decoration: none;
  color: black;
}
.projectsList{
  display: flex;
  width: 100%;
  justify-content: center;
}
.proj{
  width: 23.3vw;
  height: 23.3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.proj img{
  width: 100%;
  height: 100%;
}
.kateLynn{
  background-color: #BDCBD4;
}
.kateLynn img{
  width: 50%;
  height: 75%;

}
.mentor{
  background-color: #e6e6e6;
}

/*----------------Start Overlay CSS-----------------*/
.overlay{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  font-size: 1.5vw;
  text-align: center;
}
.proj:hover .overlay{
  opacity: 0.8;
}
/*----------------End Overlay CSS-----------------*/
/*----------------End ProjectsPage CSS-----------------*/
/*----------------Start contactPage CSS-----------------*/
.contactPage{
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #e6e6e6;
  width: 70vw;
  height: 90vh;
}
.contactPage h2{
  margin-top: 5vh;
}

.contactInfo{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.contactItem{
  width: 30vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list{
  font-size: 1.2vw;
  height: 20vw;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contactPicture img{
  width: 25vw;
  height: 20vw;
}
/*----------------End contactPage CSS-----------------*/
/*----------------Addclass Css-----------------*/

.fullscreen{
  height: 100%;
  background-color: black;
  opacity: 0.9;
}
/*----------------End Addclass CSS----------*/
/*----------------Begin Media Queries---------------*/
/*----------------Start Mobile Query----------------*/
@media only screen and (max-width: 750px){
  span, p{
    font-size: 3vh;
  }
  .nav{
    display: flex;
    flex-direction: column;
  }
  .nav ul{
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    height: 80%;
  }
  .nav a{
    color: white;
    font-size: 10vh;
  }
  .nav span{
    position: absolute;
    right: 0;
    bottom: 0;
    color: white;
  }

  .introPage h1{
    text-align: center;
    margin: 0 auto;
    font-size: 10vh;
    width: 75%;
  }
  .page{
    width: 100%;
    min-height: 80vh;
  }
  .page h2{
    font-size: 5vh;
  }
  .services{
    flex-direction: column;
    align-items: center;
    margin-bottom: 0;
  }
  .service{
    width: 90vw;
    height: 80vh;
  }
  .service img{
    width: 90vw;
    height: 70vw;
  }

  .bio{
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    text-align: center;
  }
  .headline{
    width: 90%;
    margin: 0 auto;

  }
  .headline h2{
    text-align: center;
  }
  .aboutText{
    width: 90%;
    margin: 0;
  }
  .projectsList{
    flex-direction: column;
    align-items: center;
  }
  .overlay{
    font-size: 3vh;
  }
  .proj{
    width: 90vw;
    height: 70vw;
  }
  .proj img{
    width: 90vw;
    height: 70vw;
  }
  .kateLynn img{
    width: 30vw;
    height: 50vw;
  }
  .mentor img{
    width: 50vw;
    height: 30vw;
  }
  .contactInfo{
    align-items: center;
    height: 75vw;
    flex-direction: column;
    position: relative;
  }
  .contactText{
    text-align: center;
  }
  .contactItem{
    width: 60vw;
    height: 45vw;
  }
  .contactPicture img{
    width: 60vw;
    height: 45vw;
  }
}
/*----------------End Mobile Query----------------*/
/*----------------End Media Queries---------------*/
