/*------------Unversal CSS-------------*/
*{
  padding: 0;
  margin: 0;
  font-family: 'Work Sans';
  color: #404040;
}
li{
  list-style: none;
}
i{
  position: fixed;
  top: 1%;
  left: 1%;
  cursor: pointer;
  z-index: 3;
}
p, span{
  font-size: 1.5vw;
}

h1, h2{
  font-weight: 400;
}
h1{
  font-size: 8vw;
}
/*----------------End Universal CSS-----------------*/
/*----------------Start NavBar CSS-----------------*/
.nav{
  width: 100%;
  height: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  transition: .3s;
  overflow-y: hidden;
  background-color: white;
}
.nav ul{
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-size: 1.5vw;
  position: relative;
}



.name{
  position: absolute;
  right: 1%;
  font-size: 3vh;
}

.nav a{
  text-decoration: none;
  color: black;
}
/*----------------End NavBar CSS-----------------*/
/*----------------Start Underline animation-----------------*/
.underline{
  position: relative;
}
.underline:after{
  content: "";
  color: black;
  background-color: black;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .2s ease-in;
}
.underline:hover:after{
  width: 100%;
  right: 0;
}

span{
  position: relative;
}
span:after{
  content: "";
  color: black;
  background-color: black;
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: .2s ease-in;
}
.image:hover ~ span:after{
  width: 100%;
  right:0;
}
/*----------------End Underline Animation-----------------*/
/*----------------Start General Page Structure--------------*/
.page{
  min-height: 80vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  top: 5vh;
}
.page h2{
  font-size: 3vw;
  text-align: center;
  margin-bottom: 10vh;
}
/*----------------End General Page Structure-----------------*/
/*----------------Start IntroPage CSS-----------------*/
/*Changed font size from 5vw to 4vw and adding h1 width*/
.introPage{
  flex-direction: column;
  justify-content: center;
  margin-bottom: 8vh;
}
.introPage h1{
  width: 85%;
  text-align: left;
}
/*----------------End IntroPage CSS-----------------*/
/*----------------Start AboutPage CSS-----------------*/
.aboutPage{
  flex-direction: column;
  justify-content: space-around;
}

.services{
  width: 100%;
  display: flex;
  justify-content: center;

  margin-bottom: 10vh;
  position: relative;

}
.service{
  width: 40vw;
  height: 25vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2vw;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.service img {
  width: 40vw;
  height: 25vw;
  position: relative;
}

.bio{
  display: flex;
  margin-bottom: 10vh;
}
.headline{
  width: 65%;
  margin-right: 3%;
}
.headline h2{
  text-align: left;
}

.aboutText{
  width: 32%;
}
.aboutText a{
  text-decoration: none;
}

.aboutText a:after{
  background-color: blue;
}
/*----------------End AboutPage CSS-----------------*/
/*----------------Start ProjectsPage CSS-----------------*/
.projectsPage{

  flex-direction: column;
}
.projectsPage h2{
  margin-bottom: 2vh;
}
.projectsPage p{
  width: 75vw;
  margin: 0 auto 10vh auto;
  text-align: center;
}
.projectsPage a{
  text-decoration: none;
  color: black;
}
.projectsList{
  display: flex;
  width: 100%;
  justify-content: center;
}
.proj{
  width: 25vw;
  height: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  cursor: pointer;
}
.proj img{
  width: 100%;
  height: 100%;
}
.kateLynn{
  border: 0.5px solid black;
}
.kateLynn img{
  width: 15vw;
  height: 20vw;
}
.mentor img{
  width: 21vw;
  height: 10vw;
}
.mentor{
  background-color: #C3D2D9;

}

/*----------------Start Overlay CSS-----------------*/
.overlay{
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  opacity: 0;
  font-size: 1.5vw;
  text-align: center;
}
.proj:hover .overlay{
  opacity: 1;
}
/*----------------End Overlay CSS-----------------*/
/*----------------End ProjectsPage CSS-----------------*/
/*----------------Start contactPage CSS-----------------*/
.contactPage{
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #e6e6e6;
  width: 75%;
}

.contactInfo{
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
}

.contactItem{
  width: 30vw;
  height: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactPicture img{
  width: 25vw;
  height: 20vw;
}
/*----------------End contactPage CSS-----------------*/
