body, html{
  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}


.projectContainer{
  position: relative;
  width: 90%;
  margin: 10vh auto 0 auto;
  display: flex;
  justify-content: center;

}
.page{
  flex-wrap: wrap;
}
.contactPage{
  margin-top: 10vh;
}

@media only screen and (max-width: 750px){
  .projectContainer{
    display: flex;
    flex-direction: column;
  }
  .proj{
    width: 100vw;
  }
  .proj img{
    width: 100vw;
    height: 80vh;
  }
}
