<footer>
  <section class = 'CTA'>
    <a href = ''><h3>Newsletter</h3></a>
    <section class = 'socialMedia'>
      <a href = 'https://www.facebook.com/alexdunnmusic' id = 'fb' class = 'socialButton fa fa-facebook'></a>
      <a href = 'https://www.instagram.com/_alex.dunn_/' id = 'in' class = 'socialButton fa fa-instagram'></a>
      <a href = 'https://www.youtube.com/channel/UCg9TPGbuDyKaxUTG6XB7wRQ' id = 'yt' class = 'socialButton fa fa-youtube'></a>
      <a href = 'https://itunes.apple.com/us/artist/alex-dunn/1440540224' id = 'am' class = 'socialButton fa fa-music'></a>
      <a href = 'https://open.spotify.com/album/1EfHbb52BG3K7A9tXeOBSX?si=MuP9a01gTpKsJuOfVAMDCw' id = 'sp' class = 'socialButton fa fa-spotify'></a>
    </section>
    <a href = 'https://www.alexdunnmusic.com/pages/contact'><h3>Contact</h3></a>
  </section>
</footer>

{% schema %}
  {
    "name": "Call to action",
    "settings": [
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
