#PageContainer{
  margin-top: 10vw;
}
#alex-dunn #PageContainer, #contact #PageContainer{
  margin-top: 0;
}

/*Phone CSS*/
@media only screen and (max-width:750px){
  #Hero{
    height: 70vw !important;
    height: 80vh !important;
    overflow: visible;
  }
  .slick-track, .slideshow__overlay:before{
    height: 100% !important;
  }
  .slick-track, .slick-track *{
  }
  .hero__image{
    height: 70vw !important;
    height: 80vh !important;
    object-fit: cover;
    object-position: center !important;
  }
  .site-header .grid-full, .site-header .grid--table, .site-header *{
    min-height: 0 !important;
  }
  .site-header, .site-header .wrapper, .site-header .grid--table, .site-header .grid__item{
    height: 50px !important;
  }
  
  .announcement-bar__message{
/*     padding-bottom: 0 !important; */
  }
}
/*End Phone CSS*/
