<!doctype html>
<html>
<head>
  <link rel ='stylesheet' type = 'text/css' href ='./galleryButtons.css'>
  <meta name = 'viewport' content = 'width=device-width, height=device-height, initial-scale =1.0'>
</head>

<body>
  <div class = 'outerContainer'>
    <a href="#" class="previous round">&#8249;</a>
    <a href="#" class="next round" id = 'nextPhotography'>&#8250;</a>
    <h1>Photography</h1>
    <div class = 'imageContainer'>
      <div class = 'image'>
        <h2>One</h2>
      </div>
      <div class = 'image'>
        <h2>TWO</h2>
      </div>
      <div class = 'image'>
        <h2>THREE</h2>
      </div>
      <div class = 'image'>
        <h2>FOUR</h2>
      </div>
      <div class = 'image'>
        <h2>FIVE</h2>
      </div>
      <div class = 'image'>
        <h2>SIX</h2>
      </div>
      <div class = 'image'>
        <h2>SEVEN</h2>
      </div>
      <div class = 'image'>
        <h2>EIGHT</h2>
      </div>
      <div class = 'image'>
        <h2>NINE</h2>
      </div>
      <div class = 'image'>
        <h2>TEN</h2>
      </div>
      <div class = 'image'>
        <h2>ELEVEN</h2>
      </div>
      <div class = 'image'>
        <h2>LAST</h2>
      </div>
    </div>
  </div>

  <div class = 'outerContainer'>
    <h1>Paintings</h1>
    <a href="#" class="previous round">&#8249;</a>
    <a href="#" class="next round">&#8250;</a>
    <div class = 'imageContainer'>
      <div class = 'image'>
        <h2>One</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
    </div>
  </div>

  <div class = 'outerContainer'>
    <h1>Illustrations</h1>
    <a href="#" class="previous round">&#8249;</a>
    <a href="#" class="next round">&#8250;</a>
    <div class = 'imageContainer'>
      <div class = 'image'>
        <h2>One</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
    </div>
  </div>

  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src = './galleryButtons.js'></script>
</body>

</html>
