<!doctype html>
<html>
<head>
  <link rel ='stylesheet' type = 'text/css' href ='./imageScroller.css'>
  <meta name = 'viewport' content = 'width=device-width, height=device-height, initial-scale =1.0'>
</head>

<body>
  <div class = 'outerContainer'>
    <h1>Photography</h1>
    <div class = 'imageContainer'>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
    </div>
  </div>

  <div class = 'outerContainer'>
    <h1>Paintings</h1>
    <div class = 'imageContainer'>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
    </div>
  </div>

  <div class = 'outerContainer'>
    <h1>Illustrations</h1>
    <div class = 'imageContainer'>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
      <div class = 'image'>
        <h2>Something</h2>
      </div>
    </div>
  </div>

  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src = './imageScroller.js'></script>
</body>

</html>
