<!DOCTYPE html>
<html>

<head>
  <link rel = 'stylesheet' type = 'text/css' href = './parallax.css'>
  <meta name = 'viewport' content = 'width=device-width, initial-scale=1'>
</head>

<body>

  <div class = 'heroBanner'>
    <div class = 'intro'>
      <h1>Scroll down</h1>
    </div>
  </div>

  <div class = 'text'>
    <p>A briew overview of what pahana is all about and a few words about the general feel of it. This is where I will have a little bit to say about everything so If someone isn't wanting to go into each tab, they can have enough information to make an assesment otherwise</p>
  </div>

  <div class = 'parallax1 parallax'></div>
  <div class = 'text'>
    <p>Here is some text that will be in the middle of two different pictures.</p>
  </div>
  <div class = 'parallax2 parallax'></div>
  <div class = 'text'>
    <p>Just testing how this is going to work with different paragraphs and multiple pictures</p>
  </div>
  <div class = 'parallax3 parallax'></div>
  <div class = 'footer text'>
    <p>Some stuff</p>
    <h4>DesignByDarryn</h4>
  </div>


</body>

</html>
