<!DOCTYPE html>
<html>
<head>
  <link rel = 'stylesheet' type = 'text/css' href = './servicesTemplate.css'>
  <meta name = 'viewport' content = 'width=device-width, initial-scale =1.0'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
</head>

<body>
  <div class = 'servicesPage' id = 'servicesPage'>
    <div class = 'content container' id = 'content'>
      <div class = 'contentTitle' id = 'title'>
        <h1>Title</h1>
      </div>
      <div class = 'contentText' id = 'contentText'>
        <div class = 'text' id = 'text1'>
          <ul>
            <li>Item1</li>
            <li>Item2</li>
            <li>Item3</li>
          </ul>
        </div>
        <div class = 'text' id = 'text2'>
          <ul>
            <li>Item1</li>
            <li>Item2</li>
            <li>Item3</li>
          </ul>
        </div>
    </div>
    </div>
    <div class = 'buttonsContainer container' id = 'buttonsContainer'>
      <div class = 'design button' id = 'design'>
        <img src = "../images/design.png" alt = 'Web Design'>
        <h1>Web <br>Design</h1>
      </div>
      <div class = 'hosting button' id = 'hosting'>
        <img src ="../images/hosting.png" alt = 'Website Hosting'>
        <h1>Website Hosting</h1>
      </div>
      <div class = 'market button' id = 'market'>
        <img src = "../images/market.png" alt = 'Digital Marketing'>
        <h1>Digital Marketing</h1>
      </div>
    </div>
  </div>


  <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src  = './this.js'></script>
</body>
</html>
